body {
  font-family: Helvetica, Arial, sans-serif;
}
#container {
  margin-left: 15%;
  margin-right: 15%;
}

.signatory {
  margin-top: 10px;
  border-top: 1px dashed #ccc;
}

footer {
  margin-top: 15px;
  padding: 20px;
  background-color: #eee;
  color: #333;
}
