@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200);
#myfreeweb {
  background: #008f00;
  color: #fefefe;
  font: 1em "Source Sans Pro", sans-serif;
  font-weight: 200;
  text-align: right;
  padding: 0.4em 1em 0.4em 15%;
}
#myfreeweb h1 {
  font-size: 1.4em;
  font-weight: 200;
}
#myfreeweb a { color: #fff; }
#myfreeweb .sign span {
  border: 2px solid #fff;
  padding: 0.3em 0.6em;
  font-size: 1.2em;
}
